@import "tailwindcss";
@import "@heroui/styles"; 

body{
  background: #020617;
  color: white;
  overflow-x: hidden;
}

.gradient-text{
  background: linear-gradient(
    to right,
    #22d3ee,
    #38bdf8,
    #c084fc
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}